html {
    font-size: 10px;
    line-height: 1;
}

p {
    font-family: $content-font;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

h2 {
    font-family: $title-font;
    font-size: 2.5rem;
}



.wrapper {
    max-width: 80%;
    width: 80%;
    margin: 0 auto;
    padding-top: 3em;
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    justify-content: center;
    width: 100%;
    gap: 3em;
    padding-top: 2em;
    @media screen and (max-width: 1366px) {
        grid-template-columns: repeat(4, 1fr);
    }
    img {
        max-width: 100%;
    }
}

