.logo {
    width: 10vw;
    margin: 5vh auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 666;
    @media screen and (max-width: 1366px) {
        width: calc(10vw + 5%);
    }
    img {
        max-width: 100%;
        filter: drop-shadow(0 0 4px rgba(0, 0, 255, 0.692));
    }
    .hausBlob {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        // animation: appear1 5s infinite;

    }
    // .hausSguigg {
    //     // animation: appear1 5s infinite;
    //     // animation-delay: 2.5s;
    // }
}

@keyframes appear1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
}
}

@keyframes appear2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
}
}