$white : #ffffff;
$black : #000000;

$yellow : #D8FF4B;
$green : #69fa7d;

$caribon: 'Caribon', 'serif';
$sinistre: 'Sinistre', 'serif';
$vg5000: 'VG5000', 'sans-serif';
$sirap: 'SIRAP', 'sans-serif';
$switzer: 'Switzer-BlackItalic', 'sans-serif';
$ortica: 'Ortica', 'serif';

// $box-shadow : 1px 0px 15px 3px rgba(61, 61, 61, .33);
$box-shadow : 0 0 1.7rem rgb(0 0 0 / 0.2);

$title-font: 'Mattone', sans-serif;
$content-font : 'Ortica', serif;