

// CSS 3d books

.book-article {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    padding: 1.5em;
    cursor: pointer;
    &:hover .threedbook {
        transform: rotateY(180deg);
    }
    .threedbook {
        aspect-ratio: 202 / 311;
        width: 100%;
        position: relative;
        transition: .5s;
        transform-style: preserve-3d;
        // &:hover {
        //     transform: rotateY(180deg);
        // }
        
        // &:active {
        //     transform: rotateY(180deg);
        // }
        &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 100%;
            transform-origin: left;
            transform: rotateY(90deg);
            background: #e9e9e9;
            // background-position: center;
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transform-origin: center;
            transform: rotateY(180deg) translateZ(10px);
            background: url(../img/cansback.jpg) center/cover;
            // background-position: center;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}  

.trajec .threedbook {
    aspect-ratio: 202 / 274;
    &::before {
        width: 1.3rem;
        background: url(../img/traj017_back.webp) center/cover;
    }
    &::after {
        background: url(../img/traj017_back.webp) center/cover;
        transform: rotateY(180deg) translateZ(1rem);
    }
}

.front__seine .threedbook {
    aspect-ratio: 202 / 287;
    &::before {
        width: .8rem;
        background: url(../img/fds015_back.webp) center/cover;
        filter: brightness(.8);
    }
    &::after {
        background: url(../img/fds015_back.webp) center/cover;
        transform: rotateY(180deg) translateZ(.8rem);
    }
}

.beton .threedbook {
    aspect-ratio: 202 / 288;
    &::before {
        width: .3rem;
        background: #f0f2e6;
    }
    &::after {
        background: url(../img/journal-bk.webp) center/cover;
        transform: rotateY(180deg) translateZ(.3rem);
    }
}