

// .slide-up {
//     width: 100vw;
//     height: 100vh;
//     background-color: $white;
//     z-index: 998;
//     position: fixed;
//         top: 0;
//         left: 0;
//         animation: 1s ease-out 1 forwards slide 1s;
// }

@keyframes slide {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}


.loading-haus {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loading .7s forwards;
    z-index: 999;
    img {
        max-width: 100%;
    }
}

@keyframes loading {
    0% {
       opacity: 1;
    }
    99% {
        opacity: 1;
     }
    100% {
        opacity: 0;
    }
}